:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primbuttn: #a52818;
  --accent: #0b4c12;

  color-scheme: light dark;
  color: #010104;
  background-color: #dfdbfa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.start {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin:1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.start:hover {
  border-color: #646cff;
}
.start:focus,
.start:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.word {
  background: linear-gradient(120deg, var(--primbuttn), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .start {
    background-color: #f9f9f9;
  }
}


.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container .options {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container div button {
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
}

.quiz-container  .selected-answer {
  background: #0b4c12;
  color:#fbfbfe;
  border: 1px solid #fbfbfe;
}
.quiz-container  .wrong {
  background:#a52818;
    color:#fbfbfe;
  border: 1px solid #fbfbfe;
}
.quiz-container .sub {
  background: linear-gradient(90.04deg, #000280 0.03%, #c0ffd0 99.96%);
  font-size: 18px;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
}

.quiz-container button:disabled {

  cursor: not-allowed;
}
